.cat-h1 {
	padding-left: 30px;
}
.cat-h2 {
	display: block;
	padding-left: 20px;
}

.category-contain {
	margin-left: 20px;
	border-right: 1px solid grey;
}
.contain-two {
	display: flex;
	margin: 15px;
	padding: 10px;
	border: 2px solid rgb(184, 184, 184);
	border-radius: 15px;
}
.contain-two img {
	height: 20%;
	width: 20%;
}
.contain-two p {
	margin: 0 10px;
	display: grid;
	place-content: center;
}
.hover:hover {
	background-color: #5dc0f9;
	color: white;
}
.hover p:hover {
	color: white;
}

.table-width {
	width: 100%;
}
