/* SELECTION FORM      */
form {
	background-color: lightgray;
	padding: 20px 100px;
	margin: 50px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}
form h2 {
	grid-column: 1 / span 3;
	text-align: center;
}
form button {
	text-align: center;
	margin: 0 260px;
	grid-column: 1 / span 3;
	padding: 10px;
}
form input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 10px;
}

/* form > * {
    /* Apply styles to all direct children of form */
/* For example: 
   
} */

/* DISPLAY  */
.display-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}
.category-col {
	text-align: right;
	white-space: nowrap;
}
.category-col h3 {
	border-bottom: solid 1px lightgrey;
	color: blue;
}

.category-col p {
	border-bottom: solid 1px lightgrey;
}
/* .category-col p:hover {
	background-color: cadetblue;
} */

.bank-col {
	text-align: center;
	padding: 0 20px;
}

.bank-col > * {
	border-bottom: solid 1px lightgrey;

	white-space: nowrap;
}
