/* SELECTION FORM      */
form {
	background-color: rgb(240, 240, 240);
	border-radius: 20px;
	padding: 20px 100px;
	margin: 50px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}
form h2 {
	grid-column: 1 / span 3;
	text-align: center;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

form button {
	background-color: #ffffff;
	text-align: center;
	margin: 0 260px;
	grid-column: 1 / span 3;
	padding: 10px;
	border: #ffffff;
	transition: ease-in 0.2s;
	cursor: pointer;
	border-radius: 15px;
}
form button:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px grey;
}
form button:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}
form input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 10px;
}

/* form > * {
    /* Apply styles to all direct children of form */
/* For example: 
   
} */

/* DISPLAY  */
.display-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}
.category-col {
	text-align: right;
	white-space: nowrap;
}
.category-col h3 {
	border-bottom: solid 1px lightgrey;
	color: blue;
}

.category-col p {
	border-bottom: solid 1px lightgrey;
}
/* .category-col p:hover {
	background-color: cadetblue;
} */

.bank-col {
	text-align: center;
	padding: 0 20px;
}

.bank-col > * {
	border-bottom: solid 1px lightgrey;

	white-space: nowrap;
}
