html {
	scroll-behavior: smooth;
	animation: fadeIn 3.5s;
}

a {
	text-decoration: none;
}
.contain {
	display: flex;
	z-index: 0;
}
/* HEADER SECTION - TOP POSTS  */
.logo-text {
	display: flex;
}
.logo-text p {
	color: white;
	padding: 10px 0 0 10px;
}
.logo-text h1 {
	margin: 0;
	padding: 0px 20px;
}

.main-pic {
	min-width: 755px;
	height: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.main-pic img {
	padding: 10px 0 0 10px;
	width: 60px;
	height: 60px;
}
.h1-td {
	padding: 0 0 0 30px;
	display: flex;
}
.h1-td img {
	padding-left: 25%;
	width: 100px;
	height: 100px;
}
.section h1 {
	padding-left: 100px;
	font-size: 4em;
	margin: 0;
	line-height: 1;
}
.section2 {
	background-color: #00000066;
	border-radius: 10px;
	padding: 10px 20px 10px 30px;
	margin: 0 70px;
	color: aliceblue;
}
.section2-btn {
	color: aliceblue;
	background-color: #0392e5;
	width: fit-content;
	padding: 15px;
}
.section2-btn:hover {
	background-color: #02476f;
	animation: ease-in 0.5s;
	cursor: pointer;
}
.main-pic h1 {
	color: aliceblue;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.13);
}

.watch-button {
	display: "flex";
	justify-content: "safe";
}

.download-btn {
	font-size: small;
	background-color: #0178bd;
	padding: 10px;
	color: aliceblue;
	margin: auto;
	border-radius: 10px;
}
.download-btn:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px grey;
	cursor: pointer;
}
.download-btn:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}

.section button {
	text-align: center;
}
.blog-button {
	height: 15px;
	width: 15px;
	padding: 5px;
	margin: 5px;
}

.blog-button:hover {
	outline-color: #7a7c90;
}
.three-btn-contain {
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 10px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-container button {
	border-radius: 30px;
}

/* four button nav  */
.four-button-contain {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	min-width: 600px;
}
.four-button-border {
	display: grid;
	grid-template-rows: 100px 150px 100px;
	place-content: center;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(183, 183, 183, 0.929);
	height: 350px;
	width: 300px;
	padding: 5px 40px;
	margin: 10px;
	position: relative;
	bottom: 52px;
	min-width: 130px;
	border-radius: 20px;
}
.four-button-border p {
	margin: 0;
}
.four-button-border h2 {
	text-align: center;
	color: #1d1e28;
	margin-bottom: 0;
}
.four-button {
	display: grid;
	place-content: center;
	padding: 5px;
	border: 2px solid rgba(43, 43, 43, 0.363);
	border-radius: 10px;
	margin: 5px;
	color: #5f5f5f;
	font-size: large;
	font-weight: 800;
	transition: ease-in 0.2s;
	cursor: pointer;
	max-width: 400px;
	height: 80px;
}
.four-button:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px grey;
}
.four-button:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}

.questions {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 5% 10%;
	border: 1px solid rgba(183, 183, 183, 0.929);
	border-radius: 20px;
}
.questions img {
	padding-left: 15%;
}

.questions p {
	padding: 20px;
}

/** BANK VIEW   **/

.bank-contain {
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4em;
	/* padding: 20px 10px;
	box-shadow: inset 0 0 3px #7f7f7f;
	border-radius: 10px; */
}
@media (max-width: 925px) {
}
.outer_bank_shell {
	border: 1px solid white;
	box-shadow: inset 0 0 3px #7f7f7f;
	height: 80px;
	padding: 10px 20px 70px 20px;
	border-radius: 10px;
	text-align: center;
}
.bank-item p {
	font-size: 14px;
}
.bank-item {
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #7f7f7f;
	color: rgb(92, 91, 91);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 60px;
	height: 40px;
	padding: 10px;
}

.bank-item:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}
.bank-icon {
	/* border: 2px solid rgb(62, 62, 62);
	border-radius: 3px; */
	filter: grayscale(80%);
	height: 70px;
}

.outer_bank_shell:hover .bank-icon {
	transition: ease-in 0.2s;
	filter: grayscale(0%);
}

.hover-zoom {
	transition: ease-in 0.2s;
	cursor: pointer;
}
.hover-zoom:hover {
	transform: scale(1.05);

	box-shadow: 5px 5px 10px grey;
}
.hover-zoom:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}
/* CATAGORY CONTAINER  */
.title {
	background-color: #0178bd;
	color: white;
}
.info-contain {
	margin: auto;
	width: 60%;
}
.video-contain {
	width: 100%;
	padding: 10px;
}
.video-contain video {
	width: 100%;
	margin: auto;
}
.catagory-score-contain {
	display: grid;
	grid-template-columns: 8fr 1fr 1fr;
	border: 1px gray solid;
	padding: 0 15px 0 20px;
	cursor: pointer;
	align-items: center;
}

.earned {
	padding-left: 30%;
}

.points {
	margin-left: auto;
}
.catagory-score-contain:hover {
	background-color: #5dc0f9;
	color: white;
}

.feature {
	padding-left: 40px;
	display: grid;
	grid-template-columns: 1fr 7fr 1fr 1fr;
}
.feature:nth-child(2n + 0) {
	background: #e0f4ff;
}
.child-color:nth-child(2n + 0) {
	background: #e0f4ff;
}
.feat-name {
	padding: 0 22px;
	text-align: left;
}
.feat-score {
	padding: 0 22px;
	text-align: right;
}
.check {
	padding-top: 13px;
	height: 25px;
}
.video-button {
	background-color: #0392e5;
	color: aliceblue;
	margin: 10px;
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 4px;
	width: 80px;
	transform: scale(1.05);
	border: #004770;
}
.video-button:hover {
	background-color: #5dc0f9;
	color: #0a1178;
	box-shadow: 5px 5px 10px grey;
}
.video-button:active {
	top: 2px;
	left: 1px;
	box-shadow: none;
}

.filler {
	width: 80px;
	margin: 10px;
}
.no-check {
	padding: 0 10%;
}

.cancel-button {
	height: 20px;
	width: 40px;
	float: right;
	background-color: rgb(229, 106, 61);
}

/* Best Feature and Hover   */
.winner-img {
	width: 30px;
	padding: 5px 0 0 10px;
}
.best-feature-text {
	display: none;
	background-color: aliceblue;
	padding: 20px;
	border: 2px solid #0a1178;
	border-radius: 10%;
	width: 250px;
	right: 200px;
	position: relative;
	color: black;
}
.winner-img:hover {
	cursor: pointer;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.winner-img:hover + .best-feature-text {
	display: block;
	animation: fadeIn 0.5s;
}
.read-more {
	cursor: pointer;
	color: #004770;
}

/* Footer CONTAINER  */

footer {
	background: #728aff;
}
footer .foot {
	padding: 30px 30px 50px 30px;
}
footer .social,
footer .about,
footer .newsletter {
	display: inline-block;
	vertical-align: top;
}
footer .social {
	width: 10%;
}

footer .social ul li {
	list-style: none;
	display: inline-block;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 0 0;
}
footer .social ul li a {
	color: #728aff;
	font-size: 150%;
}
footer .social ul li a:hover {
	color: #f6471e;
	background: #fff;
}
footer .social ul li a i {
	margin-top: 8px;
}
footer .about {
	width: 40%;
	padding: 0 10px;
}
footer .about ul {
	padding: 0 0 15px 0;
}
footer .about ul li {
	list-style: none;
	display: inline-block;
	margin: 0 35px 0 0;
}
footer .about ul li a {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
	text-transform: uppercase;
	text-decoration: none;
}
footer .about ul li a:hover {
	color: #f6471e;
	text-decoration: underline;
}
footer .survey {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
footer .survey a {
	color: #fff;
	font-size: 10pt;
	text-transform: none;
	margin: 0 0 0 10px;
}
footer .survey a:hover {
	color: #f6471e;
}
footer .address h4 {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
	font-weight: lighter;
	text-transform: uppercase;
	margin: 0;
}
footer .address p {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
	margin: 0;
}
footer .newsletter {
	width: 44%;
}
footer .newsletter .letter {
	display: inline-block;
	vertical-align: top;
	width: 10%;
}
footer .newsletter .signup {
	display: inline-block;
	vertical-align: top;
	width: 75%;
	margin: 0 0 0 20px;
}
footer .newsletter .signup h4 {
	color: #fff;
	font-size: 12pt;
	line-height: 14pt;
	margin: 0 0 5px 0;
}
footer .newsletter .signup p {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
	margin: 0 0 10px 0;
}
footer .newsletter .signup a {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
}
footer .newsletter .signup a:hover {
	color: #f6471e;
}
footer .newsletter .copyright {
	text-align: right;
	margin: 30px 0 0 0;
}
footer .newsletter .copyright p {
	color: #fff;
	font-size: 10pt;
	line-height: 14pt;
}
footer .newsletter .copyright p a {
	color: #fff;
}
